
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 100%;
    background-color: rgb(23, 74, 97);
    color: white;
}

h3{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(220, 41, 94);
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(220, 41, 94);
    text-align: center;
}
h5{
    font-size: large;
    font-weight: bold;
    color: rgb(7, 7, 7);
    text-align: center;
}
h6{
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(220, 41, 94);
    text-align: center;
}
.h7{
    font-size: large;
    font-weight: bold;
    color: rgb(7, 7, 7);
    text-align: center;
}
a{
    text-decoration: none;
    
}
